.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate3d(0,0,0, 0deg)
  }
  50% {
    transform: rotate3d(1,0,0, 90deg);
  }
  100% {
    transform: rotate3d(0,0,0, 0deg)
  }
}

@keframes fade {
  0% {
    background-color: black
  }
  100% {
    background-color: green

  }
}

@keyframes emerge {
  0% {
    opacity: 1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes remerge {
  0% {
    top: 200%;
    left: 25%;
    width: 50%;
    height: 50%;
  }
  70% {
    top: 200%;
    left: 25%;
    width: 50%;
    height: 50%;
  }
  100% {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  }
}

table {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  
}

.cell{
  outline: 2px solid grey;
  width: 114px;
  height: 114px;
  background-color: black; 
  font-size: 90px;
  font-weight: bold;
  user-select: none;
}

.complete_row {
  animation: spin 2s linear ;
}

#correct {
  transition: background-color 2s ease-in-out, outline 2s ease-in-out;
  background-color: rgb(76, 163, 76);
  outline: 2px solid rgb(76, 163, 76);
}

#place {
  transition: background-color 2s ease-in-out, outline 2s ease-in-out;
  background-color: rgb(204, 182, 76);
  outline: 2px solid rgb(204, 182, 76);
}

#black {
  transition: background-color 2s ease-in-out, outline 2s ease-in-out;
  background-color: rgb(44, 44, 40);
  outline: 2px solid rgb(44, 44, 40);
}

#game-end {
  animation: remerge 5s ease-in-out;
  border-radius: 5%;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: black;
  user-select: none;
  cursor: pointer
}

#end {
  animation: emerge 5s ease;
  opacity: 0
}

#game-underway{
  opacity: 0
}